#main, footer {
    text-align: center;
}

button {
    margin: 15px 0px;
}

#pictureContainer img {
    border: 2px black solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
    max-height: 512px;
    max-width: 512px;
}

